<div class="container">
  <div class="select-product">
    <mat-form-field appearance="fill" class="w-100" style="margin-top: 8px;">
      <mat-label>Products</mat-label>
      <mat-select  (selectionChange)="filterCategory($event)">
        <mat-option value="all">All Product</mat-option>
        <mat-option *ngFor="let categ of getCategory" [value]="categ">
          {{categ}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="row">

    <div class="col-lg-3 col-md-6" *ngFor="let product of getProduct;let i = index">
      <div class="setBox">

        <app-single-product [data]="product" (item)="addToCart($event)"></app-single-product>

      </div>
    </div>

  </div>

 <div class="loading-gear"  *ngIf="loading">
  <app-loading></app-loading>
 </div>

</div>
