

.cart {
  .head-cart {
    position: relative;
    padding-top: 18px;
    width: 25%;

    h1 {
      color: #eb7a00;
      font-weight: bold;
      padding-bottom: 12px;
    }

    span {
      width: 100%;
      height: 2px;

    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-image: linear-gradient(to right, #df5b03, #eb7a00, #f39900, #f8b800, #fad600, #fdd83e, #ffda5d, #ffdc78, #ffd4ad, #ffdde4, #fff0ff, #ffffff);
      bottom: 0;
    }
  }

  .boxcart {
    position: relative;
    width: 100%;
    overflow: scroll;
    // table cart
    table {
      width: 100%;
      overflow: scroll;
      .head-table {
        background: #eaeaea;
        color: #666;
        border: 1px solid #ddd;
        font-weight: 600;
      }

      .image-product {
        position: relative;
        height: 80px;
        overflow: hidden;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      .quantArea {
        display: flex;

        button {
          border: none;
          outline: none;
          background: transparent;
          padding: 10px;
          margin: 0 4px;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          color: #fff;
          text-align: center;
        }

        input {
          width: 60px;
          width: 60px;
          text-align: center;
          outline: none;
          border: 1px solid #999;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          user-select: none;
        }
      }

      // tooltip

    }

    // total
    .total-area {
      display: flex;

      .total-box {
        padding: 14px;
        width: 360px;
        height: 250px;
        background-color: #fff;

        .table {
          border: 1px solid #ddd;

          tr {
            border: 1px solid #ddd;
            text-transform: capitalize;
            font-size: 16px;

            &:first-child {
              background-color: #3e3e3e;

              td {
                color: #fff;
              }
            }

            .orderBtn {
              button {
                position: relative;
                padding: 10px 14px;
                border: none;
                outline: none;
                background: #666;
                color: #fff;
                border-radius: 6px;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;

                &:hover {
                  background: #333;
                }
              }
            }
          }
        }
      }
    }
  }
}

// loading
.loading {
  width: 100%;

}
