<div class="starts-rating-box">
<mat-icon aria-hidden="false" class="rating-btn" aria-label="Example home icon" fontIcon="grade" ></mat-icon>
<mat-icon aria-hidden="false" class="rating-btn" aria-label="Example home icon" fontIcon="grade" ></mat-icon>
<mat-icon aria-hidden="false" class="rating-btn" aria-label="Example home icon" fontIcon="grade" ></mat-icon>
<mat-icon aria-hidden="false" class="rating-btn" aria-label="Example home icon" fontIcon="grade" ></mat-icon>
<mat-icon aria-hidden="false" class="rating-btn" aria-label="Example home icon" fontIcon="grade" ></mat-icon>

</div>
