<!--
<div class="landing">
  <div id="carouselAutoPlayed" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="../../../assets/img/slider/slider0.jpg" class="d-block w-100 c-img" alt="">
      </div>
      <div class="carousel-item c-item">
        <img src="../../../assets/img/slider/slider1.jpg" class="d-block w-100 c-img" alt="">
      </div>
      <div class="carousel-item c-item">
        <img src="../../../assets/img/slider/slider2.jpg" class="d-block w-100 c-img" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoPlayed" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoPlayed" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
  <app-all-product></app-all-product>

