<div class="product-detail" *ngIf="!loading">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-product">
          <figure>
            <img src="{{product.image}}" alt="{{product.title}}">
            <figcaption>{{product.title}}</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="product-information">
          <!-- title -->
          <div class="title">
            <h3>{{product.title}}</h3>
          </div>
          <!-- reting  -->
          <div class="rating pt-3 pb-3">
            <app-start-rating></app-start-rating>
          </div>
          <!-- price -->
          <div class="price pt-3 pb-3">
            <span>{{product.price | currency}}</span>
          </div>
          <!-- information -->
          <div class="information pt-3 pb-3">
            <ul>
              <li><span>category : </span>{{product.category}}</li>
              <li><span>availabilty : </span>in stoke</li>

            </ul>
          </div>

          <!-- add and buy button -->
          <div class="Interactive-btn">
            <button id="add" class="ani-main" (click)=" addToCart(product)">
              <span *ngIf="!actionLoading">add to cart</span>
              <span *ngIf="actionLoading">
                <app-load-action></app-load-action>
              </span>
            </button>
            <button id="buy" class="ani-main" (click)="buyNow(product)">
              <span *ngIf="!actionLoading">buy now</span>
              <span *ngIf="actionLoading"><app-load-action></app-load-action></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="des">
      <h4>description</h4>
      <p>{{product.description}}.</p>
    </div>
  </div>
</div>
<div class="loading">
  <div class="container">
    <app-loading *ngIf="loading"></app-loading>
  </div>
</div>
